<h1>New review</h1>

<p><strong>Restaurant:</strong> <%= link_to @restaurant.name, restaurant_path(@restaurant) %></p>

<hr>

<%= link_to "Back to Restaurants", restaurants_path, class: "btn btn-info" %>
